

#my-account {
    @include transitionQuick();
    display: none;
    margin-top: 80px;

    &.open {
        display: flex;
    }

    .left-column {
        width       : 30%;
        margin-right: 10px;
        text-align  : center;

        .bubble_div {
            padding-bottom: 35px;
            margin-bottom: 15px;
        }

        .avatar {
            @include transitionQuick();

            display         : inline-block;
            background-color: $color_accent_60;
            width           : 150px;
            height          : 150px;
            border-radius   : 150px;
            line-height     : 150px;
            margin-bottom  : 30px;

            font-weight: bold;
            font-size  : 36px;
            text-align : center;
        }

        .username {
            font-weight  : bold;
            font-size    : 24px;
            margin-bottom: 20px;
        }

        .button_type2 {
            background-color: white;
        }

        #logout {
            width        : 60%;
            margin-top   : 13px;
            margin-left  : 20%;
            margin-bottom: 0;
            padding      : 8px;
            box-sizing   : border-box;
        }
    }

    .main-content {
        width: 70%;
        margin-left: 10px;

        .submit_button {
            padding-top: 15px;
            text-align: right;
        }

        .submit {
            max-width: 230px;
        }
    }

    .alert {
        padding-bottom: 0;
        text-align    : right;
        padding-right : 4px;
        font-size     : 0.8em;
    }

    .bubble_div {
        border-radius: 20px;
        background-color: $color_bg;
    }

    #user_profile, #user_password {
        @include transitionQuick();
        display: none;
    }

    &.profile {
        #user_profile {
            display: block;
        }
    }

    &.password {
        #user_password {
            display: block;
        }
    }

    #user_bio {
        min-height: 150px;
        border-radius: 20px;
    }
}
