
<div id="chatzone" class="chatzone">
    <!-- Scroll Button -->
    <div class="scrollButtons">
      <div class="scrollButton scrollTop"><img src="{{ asset('build/images/top.png') }}" /></div>
      <div class="scrollButton scrollOneTop"><img src="{{ asset('build/images/up.png') }}" /></div>
      <div class="scrollButton scrollOneBottom"><img src="{{ asset('build/images/down.png') }}" /></div>
      <div class="scrollButton scrollBottom"><img src="{{ asset('build/images/bottom.png') }}" /></div>
    </div>

    <!-- Padding TOP -->
    <div class="starter-chat-pad"></div>

    <div id="new_conversation_infos"></div>

    <!-- Main Chat -->
    <div id="main-chat">
        <div class="chat-text chat-ai thinking">
            <span class="loader__element"></span>
            <span class="loader__element"></span>
            <span class="loader__element"></span>
        </div>
    </div>

    <!-- Padding Bottom -->
    <div class="ender-chat-pad"></div>
</div>
