
<div id="policy_pop" class="popup">
    <div class="close-popup">x</div>

    <h2>{{ 'policy.link'|trans }}</h2>

    <div class="section custom-instructions">
        {{ 'policy.content'|trans|raw }}
    </div>
</div>
