{# base.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
{% include 'common/head.html.twig' with {'page_title': block('title')} %}
{% block styles %}{% endblock %}
</head>
<body class="chatbot {% if app.user %}logged{% else %}guest{% endif %} {% if '/public/' in app.request.pathInfo %}public{% endif %}">
    {% include 'common/header.html.twig' with {'page_title': block('title')} %}

    {% include 'common/sidebar.html.twig' %}

    <div class="container">
        <div class="main max-width">
            {% block content_alone %}{% endblock %}
        </div>
    </div>

    <div class="popup-overlay"></div>
    <div class="loader-bg"><div class="loader"></div></div>

    {% include 'common/footer.html.twig' %}

    <!-- Third Party Library -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <!-- Script -->
    {% block javascripts %}{% endblock %}
</body>
</html>
