

input:-internal-autofill-selected {
    background-color: $color_accent_10 !important;
}


@mixin input() {
    @include transitionQuick();
    appearance        : none;
    -webkit-appearance: none;
    -moz-appearance   : none;

    box-sizing   : border-box;
    width        : 100%;
    border       : 1px solid $color_accent_60;
    border-radius: $border_radius;

    padding      : 12px 12px 12px 20px;
    margin-bottom: 10px;
}


input:not([type="checkbox"]), textarea, select {
    @include input();

    &:focus, &:-webkit-autofill {
        border-color    : $color_accent_1;
        background-color: $color_accent_10 !important;
        box-shadow      : 0 0 0 2px rgba($color_accent_1,  0.2);
        outline         : none;
    }

    &:focus-visible {
        outline: none !important;
        border-color: $color_accent_60 !important;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.input_line {
    label {
        display       : block;
        width         : 100%;
        padding-bottom: 3px;
        padding-left  : 15px;
        text-align    : left;
        font-size     : 12px;
        color         : $color_grey;
    }
}



@mixin button() {
    @include transitionQuick();
    border          : none;
    color           : $color_base_opposite;
    font-weight     : bold;
    padding         : 14px 12px 14px 20px;
    cursor          : pointer;
    position        : relative;
    overflow        : hidden;
    z-index         : 1;
    background-color: $color_base;
    font-size       : 14px;

    &:before {
        transition      : 0.5s all ease;
        position        : absolute;
        top             : 0;
        left            : 50%;
        right           : 50%;
        bottom          : 0;
        opacity         : 0;
        content         : '';
        background-color: $color_grey_dark;
        z-index         : -1;
    }

    &:hover {
        background-color: $color_grey_dark;

        &:before {
            left   : 0;
            right  : 0;
            opacity: 1;
        }
    }
}

button {
    @include input();

    & {
        @include button();
    }
}

.button_type2 {
    @include input();

    & {
        @include button();
    }

    & {
        padding         : 15px;
        border-radius   : $border_radius_light;
        background-color: $color_accent_10;
        border          : none;
        color           : $color_base;

        &:before, &:hover {
            background-color: $color_accent_60 !important;
        }
    }

    &.selected {
        background-color: $color_accent_60 !important;
    }
}

.button_secondary {
    @include input();

    & {
        @include button();
    }

    & {
        background-color: $color_bg;
        border          : 2px solid $color_base;
        color           : $color_base;

        &:before, &:hover {
            background-color: $color_base !important;
            color           : $color_bg;
        }
    }
}




/* Base styles for the custom checkbox */
$checkbox-size    : 18px;
$checkbox-border  : $color_accent_60;
$checkbox-selected: $color_accent_1;

.checkbox {
    position: absolute;
    opacity : 0;

    // Text
    & + label, label + & {
        display     : inline-block;
        position    : relative;
        cursor      : pointer;
        line-height : $checkbox-size;
        padding-left: $checkbox-size + 10;

        // Checkbox
        &:before {
            position  : absolute;
            display   : block;
            left      : 0;
            top       : 0;
            content   : "";
            background: $color_accent_10;
            width     : $checkbox-size;
            height    : $checkbox-size;

            box-shadow   : inset 0 0 0 2px $checkbox-border;
            border-radius: 4px;
            transition   : 200ms ease-in-out all;
        }

        // Tick
        &:after {
            position     : absolute;
            display      : block;
            top          : 4px;
            left         : 7px;
            content      : "";
            width        : 3px;
            height       : 7px;
            border-right : 1px solid transparent;
            border-bottom: 1px solid transparent;
            transform    : rotate(45deg);

            @include transitionQuick();
        }
    }

    // Hover
    & + label:hover, label:hover + & {
        color: $color_accent_1;
        @include transitionQuick();

        &:before {
            box-shadow   : inset 0 0 0 2px $color_accent_1;
        }
    }

    // Focus
    & + label:focus, label:focus + & {
        outline: none;
    }

    // Checked
    &:checked {
        & + label, label + & {
            &:before {
                background: $checkbox-selected;
                box-shadow: none;
            }
            &:after {
                border-color: white;
            }
        }
    }

    // Disabled
    &:disabled {
        & + label, label + & {
            &:before {
                background: #f2f2f2; // Disabled colour
                box-shadow: none;
            }
            &:after{
                border-color: transparent;
            }
        }
    }

    // Disabled Checked
    &:checked:disabled{
        & + label, label + & {
            &:before {
                background: #f2f2f2;
                box-shadow: none;
            }
            &:after {
                border-color: #cecece;
            }
        }
    }
}
