{# header.html.twig #}
<header class="header-top">

    <div class="header-top-line">
        <div class="menu-wrap">
            <div class="menu" id="menu_burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>

        <div id="main_title" class="title">
            <div class="favorite-icon" title="{{ 'messages.chatbot.discussion.toggle_favorite'|trans }}">
                &#9825;
            </div>
            <h1>{{ page_title|default('Default Title') }}</h1>
        </div>

        <div id="current_agent" class="agent_infos">
            <div class="wrap">
                <div class="refresh">
                    <img src="{{ asset('build/images/refresh.png') }}" alt="Refresh" title="Refresh" id="refresh" />
                </div>
            </div>
        </div>

    </div>

    {% include 'tools/separators/separator-color.html.twig' %}
</header>
