.file-list {
    display    : flex;
    position   : absolute;
    padding-top: 5px;
    top        : -50px;
    left       : 50%;
    transform  : translateX(-50%);
    margin     : auto;
    width      : 75%;
    max-width  : 1150px;
    align-items: flex-start;

    &.chat-text {
        z-index       : 1;
        opacity       : 0.5;
        display       : flex;
        position      : relative;
        padding-bottom: 0px;
        padding-top   : 5px;
        margin-bottom : -15px;
        width         : auto;
        transform     : none;
        margin        : 0;
        top           : auto;
        left          : auto;
    }

    &:empty {
        display: none;
    }

    .error {
        position        : absolute;
        top             : -25px;
        color           : $color_red;
        // border          : 2px solid $color_accent_60;
        background-color: $color_accent_5;
        padding         : 5px;
    }

    .file-item {
        position        : relative;
        text-align      : center;
        margin-right    : 10px;
        font-size       : 12px;
        text-transform  : uppercase;
        border          : 2px solid $color_accent_60;
        background-color: $color_accent_10;
        padding         : 10px;
        border-radius   : 20px;
        min-width       : 50px;
        max-width       : 120px;
        overflow-wrap   : break-word;
        white-space     : normal;
        display         : flex;
        flex-direction  : column;

        &.file-type-jpg,
        &.file-type-jpeg,
        &.file-type-png {
            margin-top: -70px;
        }

        .file-name {
            overflow     : hidden;
            text-overflow: ellipsis;
            white-space  : nowrap;
            margin-bottom: 5px;
            line-height  : 15px;
        }

        .file-preview {
            margin-bottom: 0;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        .file-icon {
            padding         : 0 5px;
            font-size       : 10px;
            position        : absolute;
            bottom          : -10px;
            left            : 50%;
            transform       : translate(-50%, 0%);
            background-color: $color_accent_60;
            border-radius   : 20px;
            line-height     : 18px;
        }

        .delete-file {
            padding: 2px 5px;
            width: auto;
            margin-bottom: 0;
            position: absolute;
            top: -5px;
            left: -5px;
        }
    }
}
