
$chatbot_scrollButton_size:40px;

@mixin scrollButtonEnable() {
    opacity: 0.4;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

body.chatbot {


    .scrollButtons {
        @media (max-width: $size_mobile_break) {
            display: none;
        }
    }

    // SCROLL
    .scrollButton {
        position: fixed;
        z-index: 18;

        right: 5%;

        background-color: white;
        display         : flex;
        align-items     : center;
        justify-content : center;
        font-size       : 30px;
        border-radius   : $border_radius;
        box-shadow      : 1px 1px 0 1px rgba($color_accent_1,  0.2);

        @include transitionQuick();

        width : $chatbot_scrollButton_size;
        height: $chatbot_scrollButton_size;

        top: calc(50vh - $chatbot_scrollButton_size * 3 - 40px);

        cursor : default;
        opacity: .05;

        @media (max-width: $size_mobile_break) {
            right: 1%
        }

        &.scrollOneTop {
            top: calc(50vh - $chatbot_scrollButton_size * 2 - 30px);
        }
        &.scrollOneBottom {
            top: calc(50vh - $chatbot_scrollButton_size * 1 - 20px);
        }
        &.scrollBottom {
            top: calc(50vh - $chatbot_scrollButton_size * 0 - 10px);
        }
    }



    .chatzone-scrollable-to-top {
        .scrollTop {
            @include scrollButtonEnable();
        }

        &.message-over-two {
            .scrollOneTop {
                @include scrollButtonEnable();
            }
        }
    }

    .chatzone-scrollable-to-bottom {
        .scrollBottom {
            @include scrollButtonEnable();
        }

        &.message-over-two {
            .scrollOneBottom {
                @include scrollButtonEnable();
            }
        }
    }

}
