


#chatbot-settings {

    &.customInstruction-user {
        #custom-instructions-team {
            display: none;
        }
    }

    &.customInstruction-team {
        #custom-instructions-team {
            display: block;
        }
    }

}

.custom-instructions {

    &

    textarea {
        border-radius: 20px;
        min-height: 150px;
    }

}
