{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content_alone %}

<body>
    <header>
        <h1>Page Header: Lorem Ipsum</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#text-elements">Text Elements</a></li>
            <li><a href="#media-elements">Media Elements</a></li>
            <li><a href="#table-elements">Table Elements</a></li>
            <li><a href="#form-elements">Form Elements</a></li>
        </ul>
    </nav>

    <main>
        <section id="text-elements">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
            <p>Paragraph text here. <strong>Bold text</strong>, <em>italic text</em>, and <u>underlined text</u>.</p>
            <blockquote>Blockquote - Lorem ipsum dolor sit amet.</blockquote>
            <pre>Preformatted text area.</pre>
            <code>Code snippet example.</code>
            <hr>
        </section>

        <section id="media-elements">
            <h2>Media Elements</h2>
            <img src="placeholder.jpg" alt="Sample Image">
            <figure>
                <img src="placeholder.jpg" alt="Figure Image">
                <figcaption>Figcaption describing the image.</figcaption>
            </figure>
            <audio controls>
                <source src="audio.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <video controls>
                <source src="movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <canvas id="myCanvas">Your browser does not support the HTML canvas tag.</canvas>
        </section>

        <section id="table-elements">
            <h2>Table Elements</h2>
            <table>
                <caption>Table Caption</caption>
                <thead>
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Data 1</td>
                        <td>Data 2</td>
                    </tr>
                    <tr>
                        <td>Data 3</td>
                        <td>Data 4</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Footer 1</td>
                        <td>Footer 2</td>
                    </tr>
                </tfoot>
            </table>
        </section>

        <section id="form-elements">
            <h2>Form Elements</h2>
            <form>
                <label for="inputText">Text Input:</label>
                <input type="text" id="inputText" name="inputText"><br>
                <label for="inputNumber">Number Input:</label>
                <input type="number" id="inputNumber" name="inputNumber"><br>
                <input type="checkbox" id="checkbox" name="checkbox">
                <label for="checkbox">Checkbox</label><br>
                <input type="radio" id="radio1" name="radio" value="Option 1">
                <label for="radio1">Option 1</label><br>
                <input type="radio" id="radio2" name="radio" value="Option 2">
                <label for="radio2">Option 2</label><br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>

    <footer>
        <p>Footer content with links to <a href="#">top</a>.</p>
    </footer>

    <aside>
        <p>Aside section content</p>
    </aside>

    <article>
        <h2>Article Element</h2>
        <p>Content intended to be independently distributable or reusable.</p>
    </article>
</body>

{% endblock %}
