body.public {
    position: relative;

    &::before {
        opacity: 0.1 !important;
        background-image: none !important;
    }

    .header-top, .footer-bottom, .can_make_error {
        display: none !important;
    }

    #user-input-wrap {
        #file_button, .enter_type, #settings_button, #fullmessage_button {
            display: none !important;
        }
    }
}