

footer {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    // background-color: $color_bg;

    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


body.chatbot footer {
    // Height Management
    @media (max-height: $layoutHeightSwitcher) {
        // height: $padWrapSizeMin;
    }
    @media (min-height: $layoutHeightSwitcher) {
        height: calc($headerTopHeight + 2vh);
    }
}