


.container {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main {
    width: 100%;
    box-sizing: border-box;

    &.max-width {
        width     : $width;
        max-width : $maxWidth;
        padding   : 0 $padding_half;
        margin    : auto;
        box-sizing: border-box;

        @media (max-width: $size_mobile_break) {
            width: 100%;
            // padding-right: $padding_default;
        }
    }
}


.master_middle {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -53%);

    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
    width          : 80%;     // Adjust as needed
    max-width      : 800px;   // Adjust as needed

    text-align: center;


    .content_scroll {
        max-height: 75vh;
        overflow-y: auto;
        padding: $padding_default 0;
        margin-bottom: $padding_default;
    }
}


.single_page {
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;

    padding: $padding_default $padding_half;
    padding-top: 75px;

    .content_scroll {
        max-height: calc(100vh - 300px);
        overflow-y: auto;
        padding: 0;
        margin-bottom: $padding_default;
    }
}