


.sidebar {
    position: fixed;
    top     : 0;
    bottom  : 0;
    z-index : 20;

    min-width: 180px;
    width    : 30vw;
    max-width: 320px;
    padding  : 25px;

    background-color       : $color_bg;
    border-top-right-radius: 40px;
    box-shadow             : 8px 0 8px rgba($color_base, 0.080);

    display        : flex;
    flex-direction : column;
    align-items    : center;

    @include transitionMedium();



    @media (max-width: $size_mobile_break) {
        min-width: 70vw;
        width: 70vw;
        max-width: 70vw;
    }


    &.sidebar-left {
        left: -100vw;
    }
    &.sidebar-right {
        box-shadow: 0 8px 8px rgba($color_base, 0.080);
        border-top-right-radius: 0;
        border-top-left-radius: 40px;
    }

    &.sidebar-visible {
        left: 0;
    }

    .sidebar-title {
        color         : $color_accent_1;
        padding-bottom: 10px;
    }

    .sidebar-link {
        display        : block;
        font-size      : 0.9em;
        padding-top    : 10px;
        font-weight    : bold;
        cursor         : pointer;
        text-decoration: none;
        @include transitionQuick();

        &:hover {
            color: $color_accent_1;
        }
    }


    .agent_list_wrap, .discussion_list {
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;  // Safari and Chrome
        }
    }

    // Height
    .agent_list_wrap {
        height: 350px;
        max-height: calc(50% - 80px);
        margin-bottom: 30px;
    }
    .discussion_list_wrap {
        height: auto;
        max-height: calc(50% - 110px);
    }

    .see-all {
        display: block;
        cursor: pointer;
        position: relative;
        text-decoration: none;

        &:hover {
            color: $color_accent_60;

            &:after {
                opacity: 0.5;
            }
        }

        &:after {
            position         : absolute;
            top              : 3px;
            right            : 10px;
            display          : block;
            content          : '';
            height           : 14px;
            width            : 14px;
            background-image : url('../../images/bullet.png');
            background-repeat: no-repeat;
            background-size  : cover;
        }
    }

    .agent_list_wrap {
        width: 100%;

        .agent_list {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;
            align-items    : center;
            flex-direction : column;

            .agent-item {
                display: flex;
                align-items: center;
                text-decoration: none;

                &:hover {
                    color: black;
                }

                .name {
                    flex-grow: 1;
                }

                .image img {
                    max-height: 25px;
                }

                &:nth-child(n+5) {
                    // display: none;
                }
            }
        }

        #sidebar_all_agent {
            text-decoration: none;
        }
    }

    .discussion_list_wrap {
        width: 100%;

        .discussion_list {
            max-height: 100%;

            .item {
                display: flex;
                align-items: center;
                cursor: pointer;

                @include button();

                & {
                    margin          : 5px 0;
                    padding         : 0;
                    font-weight    : normal;
                    border-radius   : $border_radius_light;
                    background-color: white;
                    border          : none;
                    color           : $color_base;
                    font-weight     : normal;

                    &:before, &:hover {
                        background-color: $color_accent_60 !important;
                    }
                }

                &.selected {
                    background-color: $color_accent_30 !important;
                    padding-left: 10px;
                }

                .name {
                    display        : block;
                    white-space    : nowrap;
                    overflow       : hidden;
                    text-overflow  : ellipsis;
                    max-width      : calc(1ch * 30);  // Limit display to around 17 characters
                    text-decoration: none;
                    font-weight    : normal;
                    padding        : 10px;
                    padding-left   : 0;
                    flex-grow: 1;

                    &:hover {
                        color       : black;
                        padding-left: 10px;
                    }
                }

                .image {
                    flex-grow: 1;
                    text-align: right;

                    img {
                        width: 18px;
                        max-width: 18px;
                        opacity: .6;
                        margin-right: 10px;
                    }
                }

                // &:nth-child(n+9) {
                //     display: none;
                // }
            }
        }
    }

    .account_button {
        position: absolute;
        bottom  : 10px;
        left    : 20px;
        right   : 20px;

        .button {
            @include input();
        }

        #sidebar_my_account {
            text-decoration: none;

            &:hover {
                color: black;
            }
        }

        .button_type2 {
            display: flex;

            .avatar {
                @include transitionQuick();
                background-color: $color_accent_60;
                width           : 40px;
                height          : 40px;
                border-radius   : 20px;
                line-height     : 40px;
                text-align      : center;
            }

            &:hover {
                .avatar {
                    background-color: $color_accent_30;
                }
            }

            .username {
                padding-left: 10px;
                font-weight: bold;
                @media (min-height: $layoutHeightSwitcher) {
                    line-height: 40px;
                }
            }

        }
    }

}